body {
    width: 800px;
    margin: auto;
}

h1, h2 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 900;
}

h3, p, a {
    font-family: 'Martel Sans', sans-serif;
}


a {
    font-family: 'Martel Sans', sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 800;
}


h1 {   
    color: #239;
    text-shadow: 1px 1px 0 #fae,
        1px 1px 0 #fbe,
        2px 2px 0 #fcf,
        3px 3px 0 #fdf,
        4px 4px 0 #fef;
    margin: 72px 0 16px 0;
    font-size: 48px;
}

h2 {
    color: #239;
    text-shadow: 1px 1px 0 #fae,
        1px 1px 0 #fbe,
        2px 2px 0 #fcf,
        3px 3px 0 #fdf,
        4px 4px 0 #fef;
    margin: 48px 0 8px 0;
    font-size: 32px;
}

p {
    color: #000;
    margin: 8px 0 8px 0;
    font-size: 16px;
    line-height: 24px;
}

.warning {
    text-align: center;
    color: #c6a;
    font-weight: 800;
    margin-top: 16px;
}

nav{
    top: 200px;
    right: 200px;
    position: fixed;
    background-color: #fff;
    border-right: 1px solid #000;
    text-align: right;
}

nav a {
    margin: 16px;
    font-family: 'Martel Sans', sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 800;
    display: block;
}

.head {
    align-content: center;
    text-align: center;
    height: 80vh;
    padding: 30vh 0 30vh 0;
    width: 100%;
}

.head h2 {
    font-size: 24px;
    color:  #fae;
    text-shadow: none;
    margin-top: 16px;
}

.project {
    height: 340px;
    margin-bottom: 150px;
}

.project img {
    height: 300px;
    width: 500px;
    background-color: #ccc;
    float: left;
    margin-right: 16px;
}

img {
    max-width: 100%;
    height: 400px;
    background-color: #303030;
    object-fit: cover;
}

.sqcentered {
    width: 400px;
    height: 400px;
    margin: 0 200px 0 200px;
}

.bigsq {
    width: 800px;
    height: 800px;
}

.duo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 800px;
    grid-column-gap: 16px;
    margin: 0 auto;
}

.trio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    width: 800px;
}

.wide {
    max-width: 100%;
    height: auto;
}

#MFtile {
    background-repeat: repeat;
    background-image: url(images/MF/MFpatterntile.png);
    background-size: contain;
    width: 800px;
}

.button {
    display: inline-block;
    padding: 10px 8px;
    background-color: #fae;
    box-shadow: 0 4px 0 #c9b;
    border-radius: 4px;
    transition: background-color .2s ease-in, box-shadow .2s ease-in;
    margin-top: 8px;
}

.button:hover {
    color: #fff;
    background-color: #fae;
    box-shadow: 0 8px 0 #c9b;
    transition: background-color .2s ease-in, box-shadow .2s ease-in;
}

.button:active {
    background-color: #c9b;
    box-shadow: 0 1px 0 #b79;
    transition: background-color .1s ease-in, box-shadow .1s ease-in;
}

.project .button {
    position: absolute;
    margin: 320px 0 0 400px;
}

footer{
    text-align: center;
    margin-top: 160px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery div{
    height: 200px;
    flex-grow: 1;
}

.gallery div img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
    background-color: none;
    background: none;
}